.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.Home-header {
  margin: 0.75em;
}

.Home-study-button {
  font-size: 24px;
  margin-top: 2em;
}

.Home-footer {
  margin-top: auto;
  margin-bottom: 1em;
}
