#root {
  margin: 0 auto;
  max-width: 854px;
}

#root input {
  font-size: 1em;
}

#root button, #root input[type="submit"] {
  border: 1px solid #888;
  border-radius: 0.5em;
  background: white;
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em 0.75em;
  cursor: pointer;
  color: inherit;
 }
