.Study-video {
  display: block;
  width: 100%;
}

.Study-trans {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.Study-transcription, .Study-translation {
  flex: 1 0 0;
  text-align: center;
  white-space: pre-wrap;
  padding: 0 1rem;
}

.Study-trans-sep {
  flex: 0 0 auto;
  width: 1px;
  background-color: #ccc;
}

.Study-pad {
  height: 8rem;
}

.Study-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 8rem;
  padding: 1rem;
  box-sizing: border-box;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Study-controls-instructions {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.Study-controls-buttons {
  display: flex;
  justify-content: center;
}

.Study-controls-buttons > * {
  margin: 0 0.25rem;
}

.Study-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: #fff;
  cursor: pointer;
  color: inherit;
}

@media (hover) { /* prevent false hover on mobile Safari */
  .Study-button:hover {
    background-color: #f0f0f0;
  }
}

.Study-button-shortcut {
  color: #888;
}

.Study-transcription-span-atom-open {
  background-color: #ffff00;
}

.Study-transcription-span-atom-wrapper {
  position: relative;
}

.Study-atom-popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 0.5rem);
  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
  width: 20em;
}

.Study-atom-popup-notes {
  color: #555;
  font-size: 0.8em;
}
