.Study {
  max-width: 854px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Study-header {
  margin: 0.75em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.Study-header-back {
  text-align: left;
  position: relative;
}
.Study-header-back img {
  display: block;
  width: 20px;
  height: 20px;
}
.Study-header-back-overlay {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.ImageAudioPlayer-img {
  width: 100%;
  display: block;
}

.SectionTTSSlide {
  flex: 1; /* fill vertical space below header */
  display: flex;
  flex-direction: column;
}

.SectionTTSSlide-bottom {
  margin-top: auto;
  padding: 0.5em;
  margin-bottom: 1em;
}

.SectionTTSSlide-bottom button {
  font-size: 24px;
}

.SectionQMTI {
  flex: 1; /* fill vertical space below header */
  display: flex;
  flex-direction: column;
}

.SectionQMTI-choices {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  padding: 0.5em;
}

.SectionQMTI-choice-image {
  width: 100%;
  border-radius: 0.5em;
  display: block;
}

.AudioPlayer-audio-svg, .AudioPlayer-replay-svg {
  height: 4em;
}

.ProgressBar {
  height: 2px;
  background-color: blue;
  width: 30%;
}

/*
.Study-video {
  display: block;
  width: 100%;
}

.Study-transcription, .Study-translations {
  text-align: center;
  white-space: pre-wrap;
  margin: 0.75rem;
  font-size: 2rem;
}

.Study-translation-notes {
  font-size: 1.5rem;
  color: #555;
}

.Study-pad {
  height: 8rem;
}

.Study-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 8rem;
  padding: 1rem;
  box-sizing: border-box;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Study-controls-instructions {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.Study-controls-buttons {
  display: flex;
  justify-content: center;
}

.Study-controls-buttons > * {
  margin: 0 0.25rem;
}

.Study-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: #fff;
  cursor: pointer;
  color: inherit;
}

@media (hover) { // prevent false hover on mobile Safari
  .Study-button:hover {
    background-color: #f0f0f0;
  }
}

.Study-button-shortcut {
  color: #888;
}
*/

.TranscriptionTranslation-transcription {
  font-size: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.TranscriptionTranslation-sep {
  height: 1px;
  width: 75%;
  margin: 0 auto;
  background-color: #ccc;
}

.TranscriptionTranslation-translations {
  font-size: 1.5rem;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.Study-transcription-span-atom-open {
  background-color: #ffff00;
}

.Study-transcription-span-atom-wrapper {
  position: relative;
}

.Study-transcription-span-atom-failed {
  color: red;
  text-decoration: line-through;
}

.Study-atom-popup {
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 1rem);
  background-color: white;
  padding: 0.5em;
  width: 20rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
}

.Study-atom-popup-notes {
  color: #555;
  font-size: 0.8em;
}

.ImageAudioPlayer {
  position: relative;
}

.ImageAudioPlayer-audio-icon {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  width: 3em;
  height: 3em;
}

.ImageAudioPlayer-replay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  cursor: pointer;
}
