.App {
  display: flex;
}

.App-search-column {
  width: 30em;
}

.App-results-list {
  list-style-type: none;
  padding: 0;
  max-height: 30em;
  overflow-y: scroll;
}

.App-results-list > * {
  padding: 0.5em 1em;
  margin-top: 1em;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.35);
  white-space: pre-wrap;
}

.App-result-selected {
  outline: 1px solid blue;
}

.HitDetails-cues {
  height: 10em;
  overflow-y: scroll;
}

.HitDetails-cue {
  scroll-margin-top: 4.5em;
  margin-top: 0.5em;
}

.HitDetails-cue-current {
  background-color: yellow;
}

.HitDetails-timing-controls {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.HitDetails-timing-button {
  margin: 0.25em;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.HitDetails-cut-section, .HitDetails-clip-metadata-section {
  text-align: center;
  margin-top: 1em;
}

.HitDetails-cut-button {
  font-size: 1.5em;
  padding: 0.5em 1em;
}

.HitDetails-clip-metadata {
  border: 1px solid black;
  padding: 0.5em;
  text-align: left;
}
